serpapi:
  api_key: <API-KEY>

supplier.getyourguide.com:
  supplier_id: "<ID>"

interlinetravel.com.au:
  email: <EMAIL>
  password: "<PASSWORD>"

qantas.com:
  memberId: "<ID>"
  lastName: <SURNAME>
  pin: "<PIN>"
